/* overall */

:root {
    --color1: rgb(0, 89, 255);
    --color2: rgb(0, 153, 255);
}

body {
    font-family: 'Mitr', sans-serif;
    background-image: linear-gradient(to bottom,#ffffff ,#83ffe4 55%);
}

.invisiLink {
    color: black;
    text-decoration: none;
}

/* I'm lost, where is anything at all? */




/* index.html styling */

button.headerButton {
    transition: 0.2s;
    background-color: var(--color1);
    height: 65%;
    margin: 0% 2% 0% 0%;
    padding: 0% 3% 0% 3%;
    color: white;
    box-shadow: 0.2em 0.3em 0.5em #0007;
    text-shadow: 0.3em 0.1em 0.4em #0008;
    border: 2px solid white;
    border-radius: 2px;
}

button.mainButton {
    /* height: 7%; */
    margin: 1% 0% 2% 0%;
    background-color: #3044f7;
    color: white;
    border: 2px solid white;
    transition: 0.2s;
    
    padding: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em #0008;
    border-radius: 0px;
    height: auto;
}
#mainAllButton {
    margin:0.5% 1% 0% 1%;
    border-radius: 2px;
}

button:hover {
    scale: (1.02, 1.02);
    box-shadow: 0.7em 0.7em 0.3em #0008;
}



.header {
    background-color: var(--color2);

}
#webNameDiv{
    animation: animeheader 1s ;
}
@keyframes animeheader {
    from{transform: translateX(-100px);}
    to{transform: translateX(0px);}
}
#headerButtonDiv{
    animation: animeheaderbt 1s ;
}
@keyframes animeheaderbt {
    from{transform: translateX(100px);}
    to{transform: translateX(0px);}
}

.estation {
    text-decoration: underline;
    text-decoration-color: rgb(55, 0, 255);
    color: white;
    text-shadow: 0.2em 0.3em 0.5em #0007;
    transition: 0.2s;
}

.estation:hover {
    transform: scale(1.05, 1.05);
    text-shadow: 0.5em 0.3em 0.3em #0009;
}


#headerPaymentButton {
    border-radius: 2px;
    transition: 0.2s;
}

#headerPaymentButton:hover {
    scale: (1.02, 1.02);
    box-shadow: 0.5em 0.5em 0.5em #0008;
}

#searchInput {
    height: 50%;
    width: 65%;
    margin-top: 4%;
    margin-right: auto;
}

#mainRecommendedDiv {
    height: 90%;
    background-image: url(https://images.unsplash.com/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
    background-size: cover;
    z-index: -1;
}

#recommendedWhite {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 30%;
}

img#bookCover {
    position: absolute;
    left: 10%;
    top: 23%;
    width: 20%;
    object-fit: contain;
    z-index: 1;
    transition: all .2s;
}

img#bookCover:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1em 1em 0.5em #0008;
}

#recommendTexts {
    position: absolute;
    left: 35%;
    margin: 2% 1% 2% 1%;
}

p#recommendedTitle {
    font-size: 50px;
}

.categoryText {
    margin: 1% 0% 1% 0%;
    padding: 0% 5% 0% 5%;
    width: 100%;
    font-size: 30px;
}

.categoryCarousel {
    margin: 1% 0% 1% 0%;
    padding: 1% 5% 1% 5%;
    background-color: rgb(255, 254, 253);
    width: 100%;
    height: 60%;
    display: flex;
    /* background-color: bisque; */
    /* max-height: 25%; */
    /* border: 1px solid #ddd; */
    overflow-x: auto;
}

.categoryCarousel::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

.categoryCarousel::-webkit-scrollbar-thumb {
    background: #3247ff;
    /* border-radius: 10px; */
    height: 0px;
}



@media only screen and (max-width: 768px) {
    #searchInput {
        position: relative;
        left: 20%;
        top: 10%;
        height: 50%;
        width: 30%;
        margin-top: 4%;
        margin-left: auto;
    }


}

/* login.html styling */

.mainLoginDiv {
    background-color: white;
    width: 70%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#loginForm {
    background-color: white;
    width: 70%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#mainRegDiv {
    background-color: white;
    width: 70%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#emailInput,
#passwordInput {
    width: 100%;
    margin: 1% 1% 1% 0%;
}

/* details page */

.bookCover {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
}

/* product */

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.listingBookCover {
    max-width: 50%;
    height: 55%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888;
    transition: all .2s;
}

.listingBookCover:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1em 1em 0.5em #0008;
}

.listingBookName {
    text-align: center;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 992px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

/* profile */

.profileMainDiv {
    margin: 0px;
    width: 65%;
    background-color: white;
    position: relative;
    margin-top: 12%;
    left: 16%;
    padding-bottom: 20px;
}

#purchaseHistoryLabel {
    font-size: 23px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#profileDetail {
    padding: 30px;
}

.profileData {
    padding: 6px;
    margin-top: 10px;
    width: 90%;
    height: 37px;
    border: 2px solid black;
    border-radius: 10px;
}

#purchaseHistory {
    margin: 20px;
    width: calc(100% - 40px);
}

#historyTable {
    border: 2px solid black;
}

#historyTable>table,
tr {
    text-align: center;
}

#profilePicture {
    position: absolute;
    top: 20%;
    left: 11.5%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 1;
}

#profileCredit {
    position: absolute;
    top: 57vh;
    left: 15vw;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    z-index: 2;
    font-size: 20px;
}

#logoutDiv {
    position: absolute;
    left: 290px;
    top: 460px;
    z-index: 2;
    background-color: bisque;
    width: 80px;
    height: 45px;
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    #profilePicture {
        position: absolute;
        top: 16%;
        left: 11.5%;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        border: 3px solid black;
        z-index: 1;
    }

    .profileMainDiv {
        margin-top: 30%;
        width: 65%;
        background-color: white;
        position: relative;
        margin-top: 25%;
        left: 16%;
        padding-bottom: 20px;
    }
}
/* cart */
.cartcover{
    background-color: #ffffff;
    border-radius: 5px;
}

.item {
    /* background-color: lightseagreen; */
    min-width: 20%;
    /* line-height: ; */
    text-align: center;
    margin: 2rem;
    /* padding: 2%; */
}

/* complete */
#receiptHeaderDiv{
    height: auto;
    margin-top: 50px;
    padding: 3%;
}

#receiptBodyDiv{
    height: auto;
    margin-top: 50px;
    padding: 3%;
    background-color : #fff;
}

.receiptTitle{
    font-size: 20px;
    color: rgb(0, 42, 255);
    font-style: bold;
}

.receiptField{
    font-size: 14px;
}

.receiptFieldPoints{
    font-size: 10px;
}

/* feet  */

footer {
    padding: 1% 3% 1% 3%;
}